h1 {
    text-align: center;
    color: darkolivegreen
}

details {
    border: 3px solid;
    border-radius: 4px;
    padding: .5em .5em 0;
    text-align: center;
    background-color: yellow;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    text-align: center;
    background-color: darksalmon;
}

.poem {
    background-color: grey
}

header{
    background-color: black
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center
}

